<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  <package id="adobereader" />
  <package id="7zip" />
  <package id="nodejs" />
  <package id="git" />
  <package id="7zip.commandline" />
  <package id="procexp" />
  <package id="vscode" />
  <package id="ruby" />
  <package id="paint.net" />
  <package id="python2" />
  <package id="linqpad5" />
  <package id="kdiff3" />
   <package id="heidisql" />
</packages>