<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  <package id="golang" />
  <package id="jdk8" />
  <package id="adobereader" />
  <package id="7zip" />
  <package id="nodejs" />
  <package id="git" />
  <package id="7zip.commandline" />
  <package id="7zip.install" />
  <package id="procexp" />
  <package id="ruby" />
  <package id="python2" />
  <package id="linqpad" />
  <package id="kdiff3" />
  <package id="sourcetree" />
  <package id="notepad2" />
  <package id="robo3t.install" />
  <package id="heidisql" />
  <package id="filezilla" />
  
</packages>
